<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.microlan.www.perfectmatrimony">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/matrimony_three"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/matrimony"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".authenticate.view.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authenticate.view.SignUpActivity"
            android:label="@string/Signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.ForgotPasswordActivity"
            android:label="@string/forgotpassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.VerifyUsersActivity"
            android:label="@string/verify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".authenticate.view.DashboardActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.HomeActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.SearchActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.NewsFeedActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.TowardsActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.CommunityActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.AdsActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.HelpActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.NewsFeedFilterActivity"
            android:label="@string/nullstr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.MyMatrimonyActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticate.view.UserMainProfilePageActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".authenticate.view.ChangePasswordActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>